/* 
    Document   : mystyle
    Created on : 24.03.2014, 20:58:08
    Author     : rudolph
    Description:
        Purpose of the stylesheet follows.
*/


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

 
/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}




 /*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
* Form content
*/
.form-addcomp {
  max-width: 330px;
  padding: 10px;
  margin: 10px;
    
}
.form-addcomp .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;    
  font-size: 16px;
}